@import '../variables.css';

.root {
  display:flex;
  justify-content: center;
  width:100%;
  z-index: 2;
  position: absolute;
  bottom:12px;
  left:0;
  & .score, & .filled {
    mask:url('./unfilledstar.svg') no-repeat;
    background:#E5E5E5;
    width:17px;
    height:17px;
    outline:0;
    cursor: pointer;
    margin-left:4px;
  }
  & .score:first-of-type {
    margin:0;
  }
  & .filled {
    mask:url('./filledstar.svg') no-repeat;
  }
  & .score:hover, & .filled:hover {
     background:#eee;
  }
  & .dark {
    background:#777;
  }
  & .dark.filled {
    background: #777;
  }
  & .dark:hover {
    background:#777;
  }
}
