@import '../variables.css';

.root {
  display:flex;
  justify-content: space-between;
  padding:0 12px;
  width:100%;
  margin-top:24px;

  & .score, & .filled {
    background:url('./unfilledstar.svg') no-repeat;
    width:20px;
    height:20px;
    outline:0;
		cursor: pointer;
  }

  & .filled {
    background:url('./filledstar.svg') no-repeat;
  }

	& .score:hover {
		background:url('./unfilledstar_h.svg') no-repeat;
	}
	& .filled:hover {
		background:url('./filledstar_h.svg') no-repeat;
	}
}
