@import '../variables.css';

.root {
	display:flex;
	justify-content: space-between;
	padding:0 12px;

	& .score, & .filled {
		background:url('./unfilledstar.svg');
		width:16px;
		height:16px;
	}

	& .filled {
		background:url('./filledstar.svg');
	}
}
