@import '../variables.css';

.root {
  height: 100vh;
  width:100%;
  margin:0 auto;
  max-width: 1400px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position:relative;
  padding:4% 0 9% 80px;

  & .buttons {
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    bottom:44px;
    flex-wrap: wrap;

    & .flexGrow {
      width:100%;
      display: flex;
      justify-content: center;
    }

    & .beatInfoButton {
      width:30px;
      height:30px;
      background:rgba(255,255,255,0.3);
      box-shadow: 0 2px 30px 3px rgba(0,0,0,0.4);
      padding-top:1px;
      box-sizing: border-box;
      font-weight: bold;
      font-style: italic;
      font-family: Times;
      color: rgba(255,255,255,0.8);
      cursor:pointer;
      text-align: center;
      border-radius: 100%;
      user-select: none;
      font-size: 20px;
      outline:0;
      z-index: 3;
      position: relative;
    }

    & .beatInfoButton:hover {
      background: rgba(255,255,255,0.5);
    }
    & .arrowDownTooltip {
      width:28px;
      height:14px;
      background: url('./down_arrow.svg') no-repeat;
      bottom:0;
      animation: bounce 1s;
      animation-iteration-count: infinite;
      position: absolute;
      visibility: hidden;
    }
    & .active {
      visibility: visible;
    }
    & .hidden {
      visibility: hidden;
    }
  }

  /* Error overlay */
  & .overlay {
    visibility: hidden;
    background: rgba(120,20,0,0.6);
    padding:18px 52px;
    position: absolute;
    bottom:62px;
    z-index: 4;
    box-shadow: 0 2px 30px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    color:white;
    font-size:10pt;

    & .triangle {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid rgba(120,20,0,0.6);
      position: absolute;
      bottom:-8px;
      left:104px;
    }
  }

  & .active {
    visibility: visible;
  }
}

@keyframes bounce {
  50% {
    bottom:8px;
  }
}
