@import '../variables.css';

.root {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-left:80px;
    box-sizing:border-box;

    & .container {
        & .spinner {
            width:36px;
            height:36px;
            border-radius:50%;
            border:5px solid rgba(0,0,0,0);
            border-top:5px solid rgba(255,255,255,0.6);
            animation: spin 0.7s linear infinite;
        }
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
