@import '../variables.css';

.root {
    visibility: hidden;
    background: rgba(120,20,0,0.6);
    padding:18px 52px;
    position: absolute;
    bottom:62px;
    z-index: 4;
    box-shadow: 0 2px 30px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    color:white;
    font-size:10pt;

    & .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid rgba(120,20,0,0.6);
        position: absolute;
        bottom:-8px;
        left:47%;
    }
}
.active {
    visibility: visible;
}
.error {
    background: rgba(120,20,0,0.6);
    & .triangle {
        border-top: 8px solid rgba(120,20,0,0.6);        
    }    
}
.warning {
    background: rgb(196, 157, 60, 0.8);
    & .triangle {
        border-top: 8px solid rgb(196, 157, 60, 0.8);        
    }    
}
.info {
    background: rgba(100,100,100,0.9);
    & .triangle {
        border-top: 8px solid rgba(100,100,100,0.9);       
    }    
}
