@import '../variables.css';

.root {
  margin:0 22px;

  & .box {
    background: var(--box-color);
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width:118px;
    height:118px;
    padding:24px;
    color:white;
    user-select: none;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.15);
    position: relative;
    border-radius: 4px;
    transition: box-shadow 0.25s;
    box-sizing: border-box;
    z-index:3;

    & .active {
      visibility: visible;
    }

    & .playContainer {
      width:100%;
      display: flex;
      justify-content: center;
    }

    & .playButton {
      background:url('./playbutton.svg') no-repeat;
      width:42px;
      height:42px;
      outline:0;
      cursor:pointer;
    }

    & .playButton:hover {
      background:url('./playbutton_h.svg') no-repeat;
    }
  }
  & .infoOverlay {
    visibility: hidden;
    position: absolute;
    margin:-32px 0 0 16px;
    transform:translate(-31%, -30%);
    width:216px;
    border-radius: 4px;
    background:#454545;
    padding:28px 16px 26px 16px;
    box-sizing: border-box;
    color:var(--light-overlay);
    font-size: 0.6em;
    z-index:10;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.3);

    & .instrumentText {
      width:100%;
      margin:8px 0 4px;
      letter-spacing:2px;
      text-align: center;
      font-size:0.9em;
    }

    & .beatTicks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex: 1;
      color:white;

      & .beatTick {
        width:6px;
        height:6px;
        background: var(--light-overlay);
        margin-left:5px;
        border-radius: 6px;
        flex:1;
        min-width:0;
        margin-bottom:4px;
      }

      & .filled {
        background:white;
      }

      & .divider {
        width:1px;
        height:6px;
        background:var(--light-overlay);
        margin:0 0 0 4px;
      }
    }
  }
  /* The box containing the stars, heart, beat info button */
  & .beatInfoButton {
    width:18px;
    height:18px;
    background:rgba(255,255,255,0.3);
    padding-top:1px;
    box-sizing: border-box;
    font-weight: bold;
    font-style: italic;
    font-family: Times;
    color: rgba(255,255,255,0.8);
    cursor:pointer;
    text-align: center;
    border-radius: 100%;
    user-select: none;
    font-size: 11px;
    outline:0;
    z-index:3;
    margin-left:12px;
    position: absolute;
    top:8px;
    right:8px;
  }
  & .heart {
    mask:url(./heart.svg) no-repeat;
    background: white;
    width:20px;
    height:20px;
    cursor: pointer;
    position: absolute;
    top:12px;
    right:12px;
  }
  & .heart:hover {
    background: var(--red);     
  }
  & .filled-heart {
    mask:url(./heart_filled.svg) no-repeat;
    background: var(--red);
  }

  & .darkText {
    color:#666;
  }

  & .hidden {
    display:none;
  }

  & .beatInfoButton:hover {
    background: rgba(255,255,255,0.5);
  }

  & .active {
    visibility: visible;
  }
}
