@import '../variables.css';

.root {
	margin:0 20px 0 20px;
	width:20%;

	& .box {
		background: #383f56;
		display: flex;
		box-sizing: border-box;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width:100%;
		padding:20px 16px;
		color:white;
		cursor:pointer;
		user-select: none;
		box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
		font-size: 12px;
		letter-spacing: 3px;
		font-family: monospace;
		z-index: 1;

		& .textContainer {
			& p {
				margin:4px 0 0 0;
			}
		}

		& .playButton {
			background:url('./playbutton.svg') no-repeat;
			width:50px;
			height:50px;
			margin-right:24px;
			outline:0;
		}
	}

	& .box:hover {
	}
}
